In [8]:
library("openxlsx")
library("ggplot2")
library("tidyr")

In [9]:
df <- read.xlsx(
  xlsxFile = "econ.xlsx", sheet = 1,
  cols = c(1, 3, 4), rows = c(283:575),
  detectDates = TRUE
)
names(df) <- c("tempo", "pop", "tpp")
df

    tempo      pop      tpp
1   1991-01-01 251889    9.3
2   1991-02-01 252135    8.8
3   1991-03-01 252372    8.0
4   1991-04-01 252643    8.6
5   1991-05-01 252913    8.4
6   1991-06-01 253207    8.9
7   1991-07-01 253493    8.2
8   1991-08-01 253807    8.6
9   1991-09-01 254126    8.8
10  1991-10-01 254435    9.3
11  1991-11-01 254718    9.0
12  1991-12-01 254964    9.7
13  1992-01-01 255214    9.4
14  1992-02-01 255448    9.8
15  1992-03-01 255703    9.7
16  1992-04-01 255992    9.9
17  1992-05-01 256285    9.9
18  1992-06-01 256589   10.1
19  1992-07-01 256894    9.6
20  1992-08-01 257232    9.7
21  1992-09-01 257548    8.7
22  1992-10-01 257861    8.0
23  1992-11-01 258147    8.0
24  1992-12-01 258413   10.6
25  1993-01-01 258679    8.6
26  1993-02-01 258919    8.9
27  1993-03-01 259152    8.9
28  1993-04-01 259414    8.7
29  1993-05-01 259680    8.3
30  1993-06-01 259963    7.8
⋮   ⋮          ⋮        ⋮
263 2012-11-01 315053.9  9.7
264 2012-12-01 315232.8 12.0
265 2013-01-01 315389.6  6.3
266 2013-02-01 315520.1  5.8
267 2013-03-01 315662.2  5.9
268 2013-04-01 315817.9  6.4
269 2013-05-01 315983.7  6.7
270 2013-06-01 316171.0  6.8
271 2013-07-01 316358.8  6.6
272 2013-08-01 316580.3  6.7
273 2013-09-01 316806.1  6.8
274 2013-10-01 317022.3  6.3
275 2013-11-01 317228.0  6.2
276 2013-12-01 317411.6  6.4
277 2014-01-01 317593.9  7.1
278 2014-02-01 317753.9  7.3
279 2014-03-01 317917.2  7.4
280 2014-04-01 318089.2  7.4
281 2014-05-01 318269.5  7.4
282 2014-06-01 318464.2  7.4
283 2014-07-01 318662.4  7.5
284 2014-08-01 318893.8  7.2
285 2014-09-01 319125.3  7.4
286 2014-10-01 319353.7  7.2
287 2014-11-01 319564.2  7.3
288 2014-12-01 319746.2  7.6
289 2015-01-01 319928.6  7.7
290 2015-02-01 320074.5  7.9
291 2015-03-01 320230.8  7.4
292 2015-04-01 320402.3  7.6