In [2]:
library("openxlsx")
library("ggplot2")
library("tidyr")

In [3]:
df <- read.xlsx(
  xlsxFile = "econ.xlsx", sheet = 1,
  cols = c(1, 3, 4), rows = c(343:575),
  detectDates = TRUE
)
names(df) <- c("tempo", "pop", "tpp")
df

    tempo      pop      tpp
1   1996-01-01 268151   6.7
2   1996-02-01 268364   6.7
3   1996-03-01 268595   6.6
4   1996-04-01 268853   5.7
5   1996-05-01 269108   6.7
6   1996-06-01 269386   7.1
7   1996-07-01 269667   6.7
8   1996-08-01 269976   6.6
9   1996-09-01 270284   6.7
10  1996-10-01 270581   6.4
11  1996-11-01 270878   6.4
12  1996-12-01 271125   6.4
13  1997-01-01 271360   6.2
14  1997-02-01 271585   6.2
15  1997-03-01 271821   6.4
16  1997-04-01 272083   6.5
17  1997-05-01 272342   6.8
18  1997-06-01 272622   6.6
19  1997-07-01 272912   6.1
20  1997-08-01 273237   6.0
21  1997-09-01 273553   6.2
22  1997-10-01 273852   6.2
23  1997-11-01 274126   6.4
24  1997-12-01 274372   6.4
25  1998-01-01 274626   7.4
26  1998-02-01 274838   7.4
27  1998-03-01 275047   7.5
28  1998-04-01 275304   7.2
29  1998-05-01 275564   6.9
30  1998-06-01 275836   6.8
⋮   ⋮          ⋮        ⋮
203 2012-11-01 315053.9  9.7
204 2012-12-01 315232.8 12.0
205 2013-01-01 315389.6  6.3
206 2013-02-01 315520.1  5.8
207 2013-03-01 315662.2  5.9
208 2013-04-01 315817.9  6.4
209 2013-05-01 315983.7  6.7
210 2013-06-01 316171.0  6.8
211 2013-07-01 316358.8  6.6
212 2013-08-01 316580.3  6.7
213 2013-09-01 316806.1  6.8
214 2013-10-01 317022.3  6.3
215 2013-11-01 317228.0  6.2
216 2013-12-01 317411.6  6.4
217 2014-01-01 317593.9  7.1
218 2014-02-01 317753.9  7.3
219 2014-03-01 317917.2  7.4
220 2014-04-01 318089.2  7.4
221 2014-05-01 318269.5  7.4
222 2014-06-01 318464.2  7.4
223 2014-07-01 318662.4  7.5
224 2014-08-01 318893.8  7.2
225 2014-09-01 319125.3  7.4
226 2014-10-01 319353.7  7.2
227 2014-11-01 319564.2  7.3
228 2014-12-01 319746.2  7.6
229 2015-01-01 319928.6  7.7
230 2015-02-01 320074.5  7.9
231 2015-03-01 320230.8  7.4
232 2015-04-01 320402.3  7.6